<% layout('layouts/boilerplate') %>
<% bodyClass = "home-page" %>

<div id="home" class="text-center text-white">
  <main class="my-auto">
    <h1>YelpCamp</h1>
    <p class="lead">View our hand-picked campgrounds from all over the world.</p>
    <a href="/campgrounds" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">
      View Campgrounds
    </a>
  </main>
</div>