#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.alert:empty {
  display: none !important;
}

.footer-small{
  padding: 6px 0 !important;
  font-size: 0.85rem !important;
}

footer {
  line-height: 1.2;
}